/* @author Hubertus Seitz */

body {
    /* Template von Cem */
    font-family:"Open Sans";
    font-style: normal;
    font-weight: 300;
    background-color: #242423;
    color: white;
}
header{
    text-align: center;
    color: #95D5B2;
}

h2{
    color: #95D5B2;
}
.personalInfo{
    float: left;
}
img{
    border-style: solid;
    border-radius: 90px;
    border-color: #95D5B2;
    margin-left: 20px;
}


div#flexarea{
    display: flex;
    flex-flow: row;
}

article{

    flex: 1;

    border-style: solid;
    border-radius: 50px;
    border-color: #95D5B2;
    margin: 3mm;
    padding: 1cm;
    float: left;
    width: fit-content
    
}