/*Cem Durmus*/
.Armmuskulatur
{
    display: table;
    width: 100%;
    table-layout: fixed;
    border-spacing: 10px;
    border-bottom: 4px solid #1B4332;
    border-top: 4px solid #1B4332;
}
.col1
{
    display: table-cell;
}
.row2
{
    display: table;
    width: 100%;
    table-layout: fixed;
    border-spacing: 10px;
    border-bottom: 2px solid #1B4332;
}
.col1_1
{
    display: table-cell;
}
.Brustmuskulatur{
    display: table;
    width: 100%;
    table-layout: fixed;
    border-spacing: 10px;
    border-bottom: 4px solid #1B4332;
}
.Rueckenmuskulatur
{
    display: table;
    width: 100%;
    table-layout: fixed;
    border-spacing: 10px;
    border-bottom: 4px solid #1B4332;
}
.Beinmuskulatur{
    display: table;
    width: 100%;
    table-layout: fixed;
    border-spacing: 10px;
    border-bottom: 4px solid #1B4332;
}
.Bauchmuskulatur
{
    display: table;
    width: 100%;
    table-layout: fixed;
    border-spacing: 10px;
    border-bottom: 4px solid #1B4332;

}
/* https://bbbootstrap.com/snippets/add-favorites-button-animation-82551543 */
.fav-button{
    border:none;
    height:40px;
    width:120px;
    font-size:15px;
    background-color:#000;
    color:#fff;
    border-radius:5px;
    cursor:pointer;
    display:flex;
    justify-content:center;
    align-items:center;
}
.fav-button:active i {
    
    animation: item 1s ease-in forwards;
}
.fav-button i{
    position:absolute;
    left:70px;
}
@keyframes item {
    0% {
        
        top: 20%;
        color:#000;
        
    }

    25% {
        top: 60%;
        color:#000;
        
    }

    50% {
        
        top: 100%;
        
     
    }

    75% {
        
        top: 60%;
    
    
    }

    0% {
        top:0%;
    }
}