/* Cem Durmus */
.photoBox
{
    display: table;
    width: 100%;
    table-layout: fixed;
    border-left: 30px;
    border-right: 30px;
    border-spacing: 50px;
}
.zwei_box
{
    display: table-cell;
}
#col1
{
     border-left: 30px;
    border-right: 30px;
    border-spacing: 50px;
    display: table-cell;

}
#col2
{
    border-left: 30px;
    border-right: 30px;
    border-spacing: 50px;
    display: table-cell;

}
#col_b1
{
    border-left: 30px;
    border-right: 30px;
    border-spacing: 50px;
    display: table-cell;
    border-color: 3px black;

}
#col_b2
{
    border-left: 30px;
    border-right: 30px;
    border-spacing: 50px;
    display: table-cell;
    

}
.lowerBox
{
    display: table;
    display: table;
    width: 100%;
    table-layout: fixed;
    border-spacing: 40px;
}

.drei_box
{
    display: table-cell;
    /* float : left;
    width: 33%;
    padding: 5px;
    padding-left: 3.33%;
    box-sizing: border-box; */
    
}
.text_block
{
    margin-top: 10px;
    text-align: center;
}

.centered
{
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
}

.linksContainer{
    display: flex;
    border: 3px solid #95D5B2;
    border-radius: 10px;
}

.links{
    margin: 20px;
}