.font_t
{
    font-family: 'Montserrat', sans-serif;
}
body
{
    background-color: rgb(20, 5, 4);
    font-family: 'Montserrat', sans-serif;
    color: aliceblue;
}
.drei_box
{
    float : left;
    width: 33%;
    margin-right: 3,33333%;
    padding: 5px;
    box-sizing: border-box;
}
.zwei_box
{
    float:left;
    width: auto;
    margin-right: 7%;
    padding: 5;
    box-sizing:border-box;
}
h1
{
    text-align: center;
}
.text_block
{
    text-align: justify;
}