/* Cem Durmus */
.photoBox
{
    display: table;
    width: 100%;
    table-layout: fixed;
    border-spacing: 10px;
}
.zwei_box
{
    display: table-cell;
}
.lowerBox
{
    display: table;
    display: table;
    width: 100%;
    table-layout: fixed;
    border-spacing: 10px;
}

.drei_box
{
    display: table-cell;
    /* float : left;
    width: 33%;
    padding: 5px;
    padding-left: 3.33%;
    box-sizing: border-box; */
    
}
