/* <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Open+Sans:wght@300&display=swap" rel="stylesheet"> */
/* Cem Durmus */
body
{
    font-family:"Open Sans";
    font-style: normal;
    font-weight: 300;
    background-color: #242423;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 40px;
    margin-right: 40px;
    padding: 20px;
}
header
{
	font-weight:600;
	color: #95D5B2;
}

h1
{
    color: #40916C;
    font-weight: 300;
}
h2
{
    color: #52B788;
}
h3
{
    color: #74C69D;
}
div
{
	color:white;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
}
input
{
    background-color: #1B4332;
    color: white;
    border: #95D5B2;
    border-radius: 5px;
}
label
{
	color: white;
}
button
{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 20px;
	background-color: #2D6A4F;
	color: white;
	border-radius: 2px;
    box-shadow: 0px 0px 1px 1px rgb(0,0,0);
    padding: 10px;
}
button:active {
    /*https://stackoverflow.com/questions/38377062/how-to-make-html-button-look-pressed-in-using-css author: Red*/
    background: #95D5B2;
    -webkit-box-shadow: inset 0px 0px 5px #000000;
       -moz-box-shadow: inset 0px 0px 5px #000000;
            box-shadow: inset 0px 0px 5px #000000;
     outline: none;
  }
table
{
	color: white;
    background-color: rgb(0,0,0);
    border: white;
    box-shadow: 0px 0px 2px 2px rgb(0, 0, 0);
}

