body {
    /* Template von Cem */
    font-family:"Open Sans";
    font-style: normal;
    font-weight: 300;
    background-color: #242423;
    color: white;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 40px;
    margin-right: 40px;
    padding: 20px;
  }

#leaderboard{
    /* Allign Center */
    margin-left: auto;
    margin-right: auto;

    width: 100%;
    color: white;
    display: inline-block;
  }



#leaderboardTable{
    border-style: solid;
    border-radius: 50px;
    background-color:rgb(40, 40, 40);
    border-color: #95D5B2;
    
    margin-left: auto;
    margin-right: auto;
    padding: 1cm;
}

input{
    background-color: #1B4332;
    color: white;
    border: #95D5B2;
    border-radius: 5px;
}

header{

    margin: auto;
    padding: 1cm;
    text-align: center;
  }

#Arnold{
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  border-style: none;
  border-color: #95D5B2;
  margin-top: 1cm;
  margin-bottom: 2cm;
  
}

.pictureWrapper{
  display: flex; 
  justify-content: center; 
  border-radius: 20px;
}
#ArnoldPicture{

  border-radius: 20px;
}