.form{
    padding: 10px;
    border-style: solid;
    border-color: blue;
}

.registration-container{
    display: flex;
    margin: auto;
    width: 50%;
    align-items: center;
    
}

.header{
    display: flex;
    margin: auto;
    width: 50%;
    align-items: center;
}

.center {
    margin: auto;
    width: 20%;
    padding: 10px;
  }