/* @author Hubertus Seitz */

body {
    /* Template von Cem */
    font-family:"Open Sans";
    font-style: normal;
    font-weight: 300;
    background-color: #242423;
    color: white;
}

.form{
    padding: 10px;
    border-style: solid;
    border-color: blue;
    width: fit-content
}

.center {
    margin: auto;
    width: 20%;
    padding: 10px;
  }